<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>GSnap</string>
	<key>CFBundleIdentifier</key>
	<string>co.uk.gvst.GSnap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GSnap</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>gyAv</string>
	<key>CFBundleVersion</key>
	<string>3.1</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleGetInfoString</key>
	<string>GVST GSnap v3.1 Copyright Graham Yeadon</string>
	<key>CFBundleSupportedPlatforms</key>
	<array><string>MacOSX</string></array>
</dict>
</plist>
